name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Install protoc
      run: sudo apt-get install -y protobuf-compiler
    - name: Build
      run: cargo build --verbose
    - name: Docs
      run: cargo doc --verbose
